<main class="profile">
    <div class="light top-of-page-light">
        <h1 id="profile">Add Funds</h1>
        <h2>No Gas Fees!</h2>
            <br><br>
            <%= render partial: 'form2' %>
            <br><br>
    </div>
</main>

