<main class="rankings">

    <div class="light top-of-page-light">

        <h1 id="fight">Let's Fight</h1>
        <h2>Who's the best fighter?</h2>

    </div>

    <div>
        <%# FIGHT THEM %>
    <script>
        const opponent = <%= @opponent.id %>
        const fighter = <%= @nft.id %>
        const winner = <%= @winner.id %>

        
    </script>
        
        
        
    </div>

</main>