<main class="mint">
    <div class="light top-of-page-light">
        <h1 id="mint">Mint Your MFC Fighter</h1>
        <h2>Connect your wallet and hit 'mint'.</h2>
    </div>

<%= render partial: 'form2' %>

</main>