<main class="rankings">
  <%# <div class="light top-of-page-light">
      <h1 id="rankings">Roadmap</h1>
      <h2>The road to becoming the Metaverse Fighting Champion</h2>
  </div> %>

  <div>
    <%= image_tag 'roadmapV1.png', alt: 'roadmap', class: "roadmap" %>
  </div>


</main>