<%= form_with model: @tournament, local: true do |f| %>

    <h2>What tournament would you like?</h2>

    <%= f.label :tournament_size %>
    <br>
    <%= f.select(:tournament_size, [4]) %>
    <br><br>


    <%= f.submit %>

<% end %>