<main class="profile">
    <div class="light top-of-page-light">
        <h1 id="profile">Create a Tournament</h1>
        <h2>Choose your tournament size & bet!</h2>
            <br><br>
            <%= render partial: 'form' %>
            <br><br>
    </div>
</main>

