#fight-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#fighter1 {
    text-align: center;
}

#fighter2 {
    text-align: center;
}

#fun-fight-comments {
    text-align: center;
}

#winner_img {
    display: none;
}

#live-fight-comment {
    font-size: xx-large;
}

#live-fight-comment2 {
    display: none;
}

#live-fight-comment3 {
    display: none;
}

#live-fight-comment4 {
    display: none;
}

#live-fight-comment5 {
    display: none;
}

#live-fight-comment6 {
    display: none;
}

#live-fight-comment7 {
    display: none;
}

#live-fight-comment8 {
display: none;
}