html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .buttonLink, .buttonLink2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    font-family: 'Space Mono', monospace;;
}
h4,h5,h6,p {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.25rem;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset code above */

body {
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: white;
}

main {
    margin-top: 100px;
}

nav {
    display:flex;
    flex-direction:row;
    padding: 20px 0;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav div {
    flex-grow: 1;
    display:flex;
    justify-content:center;
    align-items:center;
}

nav ul {
    display:flex;
    flex-grow: 1;
    text-decoration: none
}

nav li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-size: large;
}

a:hover {
    color: red;
}

button:hover {
    background-color: white;
}

button:hover > .buttonLink { 
    background-color: white; 
    color: red 
}

nav img {
    max-width: 150px;
}

button {
    padding: 10px 20px;
    color: black;
    font-size: large;
    background-color: red;
}

.banner {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:stretch;
    align-content:center;
}

.bannerDiv {
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    height: 70vh;
    flex-grow: 1;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:bottom;
}

.bannerDiv1 {
    background-image: url("banner-fighter1");
    flex-grow: 2;
}

.bannerDiv2 h1 {
    font-size: 1.75rem;
    padding: 20px 0;
    font-weight: 700;
}

.pageButton {
    margin: 20px 0;
}

.bannerDiv3 {
    background-image: url("banner-fighter2.png");
    flex-grow: 2;
}

h1 {
    font-size: 1.5rem
}

h3 {
    font-size: 1rem;
}

.light {
    padding: 0 20%;
    background-color: #111111;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-content:center;
    text-align: center;
}

.top-of-page-light {
    margin-bottom: 30px;
}

.lightBlock {
    padding: 50px 0;
}

.light h1 {
    padding: 0 0 30px;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 3px 3px red;
}

h1#fight {
    padding: 0 0 30px;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 3px 3px red;
}

.light p {
    padding: 10px 0;
}

.lightImageBlock {
    padding-bottom: 50px;
}

.blackBack {
    padding: 0 20%;
    background-color: #000;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-content:center;
    text-align: center; 
}

.darkBlock {
    padding: 50px 0;
}

.blackBack h1 {
    padding: 0 0 30px;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 3px 3px red;
}

.blackBack p {
    padding: 10px 0;
}

/* ############################### */

footer {
    position: relative;
}

.footerContainer {
    padding: 128px 48px 48px;
}

.footerP {
    margin: 0px;
    font-family: VT323, monospace;
    font-weight: 400;
    font-size: 1.14286rem;
    line-height: 1.75;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.social-button {
    color: #fff;
    margin-right: 15px;
    font-size: 1rem;
    vertical-align: text-top;
}

.social-button svg {
    fill: #fff;
    padding-left: 10px;
    vertical-align: middle;
}

.nft_image {
    border-radius: 15px;
}

.bottom-line-card {
    margin-top: -50px;
}

#file-field {
    margin-left: 115px;
}

.form-field-connect {
    margin-top: 10px;
}

.press-conference {
    max-width: 800px;
    border-radius: 15px;
}

#tournament_button_title {
    padding-bottom: 20px;
}