.four-column-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#contender-h1 {
    padding-bottom: 20px;
}

.contender-nft-image {
    max-width: 150px;
}

.contender-nft-image-winner {
    max-width: 250px;
}

.contender-nft-image-tiny {
    max-width: 100px;
}

.four-column-grid-tournament {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 5%;
}

#round1-1 {
    display: none;
}

#round1-2 {
    display: none;
}

#round2-1 {
    display: none;
}

#round2-2 {
    display: none;
}

#final-1 {
    display: none;
}

#final-2 {
    display: none;
}

#final-3 {
    display: none;
}

input.recent_tournament_button {
    padding: 10px;
}

input.recent_tournament_button {
    padding: 20px 20px;
    color: black;
    font-size: large;
    background-color: red;
    border: 2px solid black;
}

input.recent_tournament_button {
    color: white;
}

input.recent_tournament_button:hover {
    color: red;
}

input.recent_tournament_button:hover > .buttonLink {
    background-color: white; 
}

input.recent_tournament_button:hover {
    cursor: pointer;
    background-color: white;
}