#top-of-tournament-index-grid {
    padding: 40px 130px 0px 50px;
}

.tournament-asset-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
}

.contender-in-index-image {
    max-width: 37.5px;
}

.asset-id {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

.contenders-asset {
    width: 305px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.new_tournament {
    color: black;
}

#replays-header {
    padding-top: 30px;
}